{% for block in section.blocks %}
  {% if block.type == 'presentation' %}
  	{% include 'presentation' %}

  {% elsif block.type == 'newsletter' %}
    {% include 'newsletter' %}

  {% endif %}
{% endfor %}

{% schema %}
    {
      "name": "Megasection",
      "settings": [

      ],
      "blocks": [
              {
              "type": "presentation",
              "name": "Presentation",
              "settings": [
              {
                "type": "textarea",
                "id": "title",
                "label": "Title",
                "default": "Soyez originaux pour vos et vos gâteaux"
              },
              {
                "type": "textarea",
                "id": "content",
                "label": "Content",
                "default": "iBoulange sélectionne les meilleurs articles et machines à travers l’Europe  et au-delà pour donner libre cours à l’imagination des artisans dans la créativité de leurs produits</p>"
              },
               {
                 "type": "image_picker",
                 "id": "image",
                 "label": "Image"
               }
          ]
        },
        {
          "type": "newsletter",
          "name": "Newsletter",
          "settings": [
              {
                "type": "text",
                "id": "heading",
                "label": "Titre",
                "default": "S'inscrire à la newsletter"
              },
              {
                "type": "text",
                "id": "subtext",
                "label": "Texte",
                "default": "Recevez en avant première nos offres dans votre boîte mail."
              },
              {
                "type": "richtext",
                "id": "rgpd_newsletter",
                "label": "RGPD - Newsletter"
              }, 
              {
                "type": "color",
                "id": "color_background",
                "label": "Couleur de fond",
                "default": "#d0d0d0"
              },
              {
                "type": "color",
                "id": "color_text",
                "label": "Couleur du texte",
                "default": "#ffffff"
              },
              {
                "type": "color",
                "id": "color_button",
                "label": "Couleur du bouton",
                "default": "#51e800"
              },
              {
                "type": "paragraph",
                "content": "Chaque visiteur qui s'inscrit sera enregistré dans Shopify. [Voir clients](/admin/customers?query=&accepts_marketing=1)"
              }

          ]
        }
     ]
}
{% endschema %}
