<div class="presentation-section">
  <div class="presentation-content">
    <h1>Soyez originaux pour vos <span class="important">pains</span> et vos <span class="important">gâteaux</span></h1>
    <h2>iBoulange sélectionne les meilleurs articles et machines à travers l’Europe  et au-delà pour donner libre cours à l’imagination des artisans dans la créativité de leurs produits</h2>
  </div>
  <img src="{{ 'presentation-bg.jpg' | asset_url }}" class="presentation-image"/>
</div>


